.sign-in-stuff{
    width: 500px;
    background-color: red;
}

.trans-image{
    width: 250px;
    margin-left: 25px;
    margin-right: 25px;
}

.trans-people{
    display: flex;
    justify-content: center;
}

.meet-header{
    height: 400px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}



.position{
    font-size: 10px;
    color: grey;
    margin-right: 100px;
}
.name{
    font-size: 16px;
    margin-right: 100px;
    font-weight: bold;
}

