.nav-items{
display: flex;
list-style: none;
text-align: center; 
}


.nav-item{
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    color: black;
}