.news-image{
    height: 150px;
    width: 150px;
    background-color: grey;

}

.news-box{
    height: 300px;
    background-color: orange;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
   
}
.news-section{
    display: flex;
    justify-content: center;
}
.news-text{
    font-weight: bold;
    height: 50px;
}


.trans-logo-footer{
    height: 80px;
    padding-left: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #ebd534;
}
.footer-head{
    font-weight: bold;
}

.footer-box1{
    font-size: 15px;
    margin-left: 30%;
    margin-bottom: 28px;
}
.footer-box2{
    font-size: 15px;
    margin-left: 100px;
}

.footer-cc{
    font-size: 15px;
    margin-right: 80px;
}

.footer-left{
    margin-right: 200px;
}