.news-header{
    height: 300px;
    background-image: url("https://i.imgur.com/PvWX11v.jpg");
    width: 100%;
    max-width: 100%;
    background-size: cover;
    object-position: 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    text-shadow: .1px .1px .1px black, 0 0 0px black, 0 0 1px black;
    /* width: auto\9; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom: 10px; */
    /* height: auto; */
    background-color: #f7f7f7 ;

}

.main-section{
      
    /* background-repeat: no-repeat; */
       height: 590px;
       /* width: 500px; */
     background-size: cover;
     background-position: center;
     display: block;
     width: 1440px;
     position: relative;
   }
   
.news-background{
   background-image: url("https://i.imgur.com/PvWX11v.jpg"); 
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: red;
   filter: blur(8px);
   z-index: -1;
}
.contact-text{
    margin-top: -250px;
    filter: blur(0px);
}

















.news-image{
    height: 300px;
    width: 300px;
    background-color: white;

}

.news-box{
    height: 500px;
    background-color: white;
    width: 400px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 1em;
   
}
.news-section{
    display: flex;
    justify-content: center;
    background-color: #f7f7f7 ;
    flex-wrap: wrap;
    padding-top: 20px;
}
.news-text{
    font-weight: bold;
    height: 50px;
}
.news-button{
    width: 100px;
    height: 50px;
    background-color: rgb(180, 171, 171);
    border-radius: 1em;
    font-size: 20px;

}

































.trans-logo-footer{
    height: 80px;
    padding-left: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #ebd534;
}
.footer-head{
    font-weight: bold;
}
.footer-head:hover{
    color: grey;
}

.footer-text:hover{
    color: grey;
}

.footer-box1{
    font-size: 15px;
    margin-left: 30%;
    margin-bottom: 28px;
}
.footer-box2{
    font-size: 15px;
    margin-left: 100px;
}

.footer-cc{
    font-size: 15px;
    margin-right: 80px;
}

.footer-left{
    margin-right: 200px;
}