.service-header{
    height: 300px;
    background-image: url("https://i.imgur.com/uNTpm3m.jpg");
    width: 100%;
    max-width: 100%;
    background-size: cover;
    object-position: 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    text-shadow: .1px .1px .1px black, 0 0 0px black, 0 0 1px black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    /* width: auto\9; */

    /* height: auto; */
}

.main-section{
      
    /* background-repeat: no-repeat; */
       height: 590px;
       /* width: 500px; */
     background-size: cover;
     background-position: center;
     display: block;
     width: 1440px;
     position: relative;
   }
   
.services-background{
   background-image: url("https://i.imgur.com/uNTpm3m.jpg"); 
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: red;
   filter: blur(8px);
   z-index: -1;
}
.contact-text{
    margin-top: -250px;
    filter: blur(0px);
}

















.service-call{
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.service-button{
    /* height: 20px;
    width: 20px; */
}

.service-info{

}


.service-icon{
    height: 50px;
    width: 50px;
    margin-left: 42%;
    margin-top: 5px;
}
.service-icon2{
    height: 100px;
    width: 200px;
    margin-left: 20%;
    margin-bottom: 0px;
    margin-top: -25px;
    padding: 0px;
    
}
.service-icon3{
    height: 100px;
    width: 100px;
    margin-left: 22%;
    margin-left: 35%;
    
}
.service-icon4{
    height: 75px;
    width: 75px;
    margin-left: 37%;
    margin-top: -10px;
    margin-bottom: 10px;
    
}
.service-icon5{
    margin-top: -10px;
    padding-top: 0px;
    height: 75px;
    width: 75px;
    margin-left: 37%;
    
    
}

.service-items{
   
    display: flex;
    justify-content: center;
    background-color:  
    #f8f8f8;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 10px; */
    /* padding: 8px; */
    padding-top: 18px;
    padding-bottom: 18px;
   

  
    
}

.service-boxes{
    /* margin-left: 30px;
    margin-right: 20px;
    margin-top: 60px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 320px;
    border-width: .1px 1px 1px 1px;
    border-radius: 2em;
    background-color: white;
    /* background-color: rgb(207, 207, 207); */
    height: 280px;
    /* box-shadow: -10px -10px 10px rgb(209, 209, 209) inset; */
    /* box-shadow: 0 0 10px 3px rgb(209, 209, 209) inset; */
  
}
.service-boxes:hover{
    /* margin-left: 30px;
    margin-right: 20px;
    margin-top: 60px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 320px;
    border-radius: .1px;
    border-radius: 2em;
    /* border-style: solid; */
    background-color: rgb(207, 207, 207);
    height: 280px;
    /* box-shadow: 0 0 10px 3px rgb(131, 131, 131) inset; */

    
}
.service-boxes1:hover{
    /* margin-left: 30px;
    margin-right: 20px;
    margin-top: 60px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 320px;
    border-radius: .1px;
    border-radius: 2em;
    /* border-style: solid; */
    background-color: rgb(207, 207, 207);
    height: 280px;
    /* box-shadow: 0 0 10px 3px rgb(131, 131, 131) inset; */

    
}
.service-boxes1{
    /* margin-left: 30px;
    margin-right: 20px; */
    /* margin-top: 60px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 320px;
    border-width: .1px 1px 1px 1px;
    border-radius: 2em;
    background-color: white;
    margin-right: 10px;
    /* background-color: rgb(207, 207, 207); */
    height: 280px;
    /* box-shadow: -10px -10px 10px rgb(209, 209, 209) inset; */
    /* box-shadow: 0 0 10px 3px rgb(209, 209, 209) inset; */
}

.service-boxes2{
    /* margin-left: 30px;
    margin-right: 20px;
    margin-top: 60px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 320px;
    border-width: .1px 1px 1px 1px;
    border-radius: 2em;
    background-color: white;
    /* background-color: rgb(207, 207, 207); */
    height: 280px;
    /* box-shadow: -10px -10px 10px rgb(209, 209, 209) inset; */
    /* box-shadow: 0 0 10px 3px rgb(209, 209, 209) inset; */
  margin-top: -30px;
}
.service-boxes2:hover{
    /* margin-left: 30px;
    margin-right: 20px;
    margin-top: 60px; */

    background-color: rgb(207, 207, 207);
 
    /* box-shadow: 0 0 10px 3px rgb(131, 131, 131) inset; */

    
}

.service-image{
    height: 400px;
    /* margin-top: 50px; */
    margin-left: 10px;
}



.service-name1{
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    margin-top: -20px;
}
.service-name2{
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
}

.service-name{
    font-weight: bold;
    font-size: 18px;
}
.service-description{
    width: 300px;
    font-size: 15x;
    height:70px;
    margin-left: 10px;
}
.service-description2{
    width: 300px;
    font-size: 15x;
    margin-left: 10px;
    height:70px
}