.service-header{
    height: 300px;
    width: 100%;
    /* height: 40%; */
    background-image: url("https://i.imgur.com/K7Trc3Q.jpg");
    object-position: 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    text-shadow: .1px .1px .1px black, 0 0 0px black, 0 0 1px black;
}

.service-call{
    font-size: 40px;
    font-weight: bold;
}

.service-button{
    /* height: 20px;
    width: 20px; */
}

.service-info{

}


.service-icon{
    height: 50px;
    width: 50px;
    margin-left: 42%;
}
.service-icon2{
    height: 100px;
    width: 150px;
    margin-left: 27%;
}
.service-icon3{
    height: 100px;
    width: 100px;
    margin-left: 22%;
}
.service-icon4{
    height: 75px;
    width: 75px;
    margin-left: 22%;
}

.service-items{
   
    display: flex;
    justify-content: center;
    background-color:  
    #f8f8f8;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
  
    
}

.service-boxes{
    /* margin-left: 30px;
    margin-right: 20px;
    margin-top: 60px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    border-width: .1px 1px 1px 1px;
    border-radius: 2em;
    background-color: white;
    /* background-color: rgb(207, 207, 207); */
    height: 250px;
    /* box-shadow: -10px -10px 10px rgb(209, 209, 209) inset; */
    /* box-shadow: 0 0 10px 3px rgb(209, 209, 209) inset; */
}
.service-boxes:hover{
    /* margin-left: 30px;
    margin-right: 20px;
    margin-top: 60px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    border-radius: .1px;
    border-radius: 2em;
    /* border-style: solid; */
    background-color: rgb(207, 207, 207);
    height: 250px;
    /* box-shadow: 0 0 10px 3px rgb(131, 131, 131) inset; */

    
}

.service-name{
    font-weight: bold;
    font-size: 18px;
}
.service-description{
    width: 300px;
    font-size: 15x;
    height:70px
}
.service-description2{
    width: 300px;
    font-size: 15x;
    margin-left: 15px;
    height:70px
}