


.video{
    width: 100%;
    height: 500px;
    /* margin-bottom: 70px; */
    /* height: 100px; */
    /* margin-right: 100px; */
    display: left;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
}