.career-header{
    height: 400px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3lhap5wOcYK4wNnL1CFROGCkO0BpeUjD8QA&usqp=CAU");
    object-fit: fill;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pitch{
    height: 250px;
    background-color: #f7f7f7 ;
    margin-top: 50px;
  
    
}

.pitch-text{
    /* font-weight: bold; */
    /* margin-top: 40px; */
    font-size: 30px;
    width: 700px;
    margin-left: 28%;
}

.pitch-desc{
font-size: 20px;
}

.position{
    list-style-type: circle;
    font-size: 30px;
}

.list-position{
    height: 100px;
display: flex;
flex-direction: column;

 margin-right: 70%;
}

.functions{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 700px;
    background-color: #f7f7f7 ;
    justify-content: center;
    margin-left: 25%;
    
}

.function{
    font-size: 20px;
    margin-left: 60px;
    margin-right: 100px;
}